/* animated spoiler CSS */
.spoilerbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    /*margin: 5px 0;*/
}

.spoiler {
    overflow: hidden;
    background: transparent;
    text-align: center;
}

.spoiler>div {
    -webkit-transition: all 0.2s ease;
    -moz-transition: margin 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: margin 0.2s ease;
}

.spoilerbutton[value="Студийные альбомы: показать"]+.spoiler>div {
    margin-top: -100%;
}

.spoilerbutton[value="Студийные альбомы: спрятать"]+.spoiler {
    padding: 5px;
}
